
.ipynb_checkpoints/3.0_DataModelling-checkpoint.ipynb
.ipynb_checkpoints/2.2_EDA-checkpoint.ipynb
.ipynb_checkpoints/2.1_Preprocessing-checkpoint.ipynb
.ipynb_checkpoints/2.0_EDA-checkpoint.ipynb
.ipynb_checkpoints/1.0_Preprocessing-checkpoint.ipynb
.ipynb_checkpoints/0.0_DataCollecting-checkpoint.ipynb
